.mainPage {
  background-color: lightgray;
  height: 100vh;
  overflow-y: auto;
}

.flexCards {
    display: flex;
    flex-direction: row;
    padding: 25px;
    margin: auto;
    flex-wrap: wrap;
    align-self: auto;
    align-items: center;
    justify-content: center
}

.content {
  padding-bottom: 75px;
}
